[Desktop Entry]
Type=Application
Name=Dragonfruit Files
GenericName=File Manager
Comment=Browse and organize your files
Exec=dragonfruit-files %U
Icon=system-file-manager
Terminal=false
Categories=System;FileManager;Utility;
MimeType=inode/directory;
StartupWMClass=dragonfruit-files
DBusActivatable=true