[Desktop Entry]
Type=Application
Name=Dragonfruit Settings
GenericName=System Settings
Comment=Configure the Dragonfruit desktop
Exec=dragonfruit-settings
Icon=org.dragonfruit.Settings
Terminal=false
Categories=Settings;System;
StartupWMClass=dragonfruit-settings
